.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 200px;
        align-self: center;
        background-color: var(--project-card-bg);
        border-radius: 100%;
        margin: 15px;
        box-shadow: 
            1px 2px 4px rgba(var(--shadow-color), 0.4),
            3px 6px 12px rgba(var(--shadow-color), 0.3),
            6px 12px 24px rgba(var(--shadow-color), 0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }

    img:hover {
        transform: scale(1.04);
    }

    img:active {
        transform: translateY(2px);
        box-shadow:
            0.5px 1px 2px rgba(var(--shadow-color), 0.4),
            2px 3px 6px rgba(var(--shadow-color), 0.3),
            3px 6px 12px rgba(var(--shadow-color), 0.25);
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.03);
    }
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 60dvw;
    align-self: center;

    p {
        margin-bottom: 30px;
    }
}

@media (width >= 800px) {
    .projectsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
}
